<div class="help-view">

    <h1>Help</h1>

    <p>
        Find the offical <strong>Github repository</strong> at: <a href="https://github.com/azerupi/SOTAwatch-filter">https://github.com/azerupi/SOTAwatch-filter</a>
    </p>
    <p>
        Below you can find answers to frequently asked questions, but if you can't find an answer to your question you can always aks it in our <a href="https://groups.google.com/forum/#!forum/sotawatch-filter" target="_blank">Google Group</a> 
    </p>
    <p>
        We also strongly encourage you to post any <strong>suggestion, idea, feature request or bug</strong> you could think of on <strong><a href="https://github.com/azerupi/SOTAwatch-filter/issues" target="_blank">Github</a></strong>, so that we can improve SOTAwatch filter and make it even more useful for you. Alternatively you can post it on the previously mentioned Google group too.
    </p>

    <div class="FAQ-list">
        <h3>Frequently Asked Questions</h3>
        <ol>
            <li><a href="#/help?scrollTo=what-is-sotawatch">What is SOTAwatch ?</a></li>
            <li><a href="#/help?scrollTo=what-is-sotawatchfilter">What is SOTAwatch filter ?</a></li>
            <li><a href="#/help?scrollTo=use-filters">How to filter spots ?</a></li>
            <li><a href="#/help?scrollTo=no-script">NoScript or other JavaScript blocking plug-ins intalled ?</a></li>
            <li><a href="#/help?scrollTo=not-working">It's not working, what should I do ?</a></li>
        </ol>
    </div>


    <div class="question">
        <h4 id="what-is-sotawatch">What is SOTAwatch ?</h4>
        <p>
            Summits on the Air (SOTA) is an award scheme for radio amateurs and shortwave listeners that encourages portable operation in mountainous areas. "Activators" go to the summits with their radio, and "chasers" try to contact them. Your will find more information on <a href="http://www.sota.org.uk/" target="_blank">http://www.sota.org.uk/</a>
        </p>
        <p>
            SOTAwatch is a informational web site that helps chasers to know when and where the activators are. You will find more information on <a href="http://www.sotawatch.org/" target="_blank">http://www.sotawatch.org/</a> .
        </p>
    </div>




    <div class="question">
        <h4 id="what-is-sotawatchfilter">What is SOTAwatch filter ?</h4>
        <p>
            SOTAwatch filter is a web application that takes the "spots" as published on <a href="www.sotawatch.org" target="_blank">www.sotawatch.org</a>, 
            and makes it possible to filter them depending on calls-signs, summits, bands, modes, comments and much more. And all you need is a recent internet browser running on any recent device (PC, smartphone, tablet, etc.)
        </p>

        <!--
        <table class="check-list">
            <tr>
                <td colspan="2">Examples of what you can do:</td>
            </tr>
            <tr>
                <td><i class="fa fa-check-circle green"></i></td>
                <td>filter on call-signs and bands to hide spots from  regions you can't reach right now anyway</td> 
            </tr>
            <tr>
                <td><i class="fa fa-check-circle green"></i></td>
                <td>filter on summits to see who is in a particular region</td>
            </tr>
            <tr>
                <td><i class="fa fa-check-circle green"></i></td>
                <td>filter on comments to hide test spots or the automatic RBNGate spots</td>
            </tr>
            <tr>
                <td><i class="fa fa-check-circle green"></i></td>
                <td>be alerted when there is a new spot, but only if it matches your filter criteria</td>
            </tr>
            <tr>
                <td colspan="2">SOTAwatch filter can do all that and more for you with it's powerful Regular Expression powered filters.</td>
            </tr>
        </table>
        -->
    </div>



    <div class="question">
        <h4 id="use-filters">How to filter spots ?</h4>
        <p>
            To filter spots, head over to the settings tab. Under the filter settings you have all the options to filter out spots based on multiple criteria.
        </p>

        <p>
            To filter out specific callsigns or summits we use <strong><a href="http://www.regular-expressions.info/" target="_blank">regular expressions</a></strong>. If you fill in the "include" textbox only spots that match the regular expression inside the textbox will be showed. If you fill in the "exclude" textbox all the matching spots will be hidden. Of course you can use the two together for maximum flexibility.
        </p>

        <h5><strong>Examples</strong></h5>
        
        <table>
            
            <tr>
                <th>Regexp</th>  <th>Filters</th>
            </tr>
       
            <tr>
                <td> (ON4ABC|ON4DEF|ON4GHI) </td><td>Only ON4ABC or ON4DEF or ON4GHI </td>
            </tr>
            <tr>
                <td>^(DL|DM).*</td><td>Beginning with DL or DM</td>
            </tr>
            <tr>
                <td>^[^NWA].*</td><td>Not beginning with N or W or A</td>
            </tr>
            <tr>
                <td>^F/(AM|AB).*</td><td>Summits: French Alps only</td>
            </tr>
            <tr>
                <td>^EA8.* </td><td>Summits: Canary Islands only</td>
            </tr>
            
        </table>
        
        <br>
        
        <p class="warning">
            <i class="fa fa-info-circle blue"></i>
            On SOTAwatch filter, the case sensitivity of the Regular Expressions has been turned OFF: "SsB" is therefore the same as "ssB" or "SSB"
        </p>
        <p> 
            And finally, I want to share a useful ressource: <a href="http://regex101.com/" target="_blank">Regex101</a> with this tool you can check if your regular expression matches what you wanted it to match. Very useful!
        </p>
    </div>


    <div class="question">
        <h4 id="no-script">NoScript or other JavaScript blocking plug-ins intalled?</h4>
        <p>
            If you have NoScript installed or any other JavaScript blocking plug-in you should whitelist at least <a href="on6zq.be" target="_blank">on6zq.be</a> and <a href="mathieudavid.org" target="_blank">mathieudavid.org</a>. Because SOTAwatch filter is hosted on the latter and uses a <a href="http://www.on6zq.be/cgi-bin/SOTAspots2Json.cgi?pretty=1" target="_blank">script on on6zq.be</a> to fetch the spots. If you don't allow at least those 2 domains to run scripts then I am afraid that SOTAwatch filter will not work correctly.
        </p>

    </div>



    <div class="question">
        <h4 id="not-working">It's not working, what should I do?</h4>
        <p>SOTAwatch filter relies heavily on JavaScript and uses the AngularJS framework. Older browsers do not always fully support those technologies. 
        We have experienced trouble with older Internet Explorers and older Android browsers.</p>

        <p>
            If SOTAwatch filter does not seem to work properly, please update your browser.
        </p>

        <p>
            We recommend <a href="https://www.google.com/chrome/browser/" target="_blank">Google Chrome</a> because it is the browser we use in the development and testing phase, but Safari, Firefox and Opera should work equally well if they are up to date. We advice <strong>against</strong> Internet Explorer especially the older versions (before Internet Explorer 9).
        </p>

    </div>

</div>