<div class="logger-view">

<div data-ng-show="!log.myCallsign" data-alert type="warning">Your callsign isn't set yet, please head over to the <a href="#/settings?scrollTo=my-callsign">settings</a> to change that.</div>

    <h1>Logger</h1>

    <div class="row">

        <div class="col-lg-8 col-md-10">

            <form name="add_form" id="add" novalidate ng-submit="log.add(form.logCallsign, form.logSummit, form.logBand, form.logMode, form.logDate, form.logTime); form.logEditMode = false;">
                <h4>Add</h4>
                
                    <div class="form-group inline" data-ng-class="{'has-error': add_form.date.$invalid && add_form.date.$viewValue.length > 0 }">

                        <label>Date</label><br><input name="date" type="text"  class="form-control" id="log-date" data-ng-model="form.logDate" data-ng-pattern="/\d{2}\/\d{2}\/\d{2}/" placeholder="dd/mm/yy">
                    </div>

                    <div class="form-group inline" data-ng-class="{'has-error': add_form.time.$invalid && add_form.time.$viewValue.length > 0 }">

                        <label>Time</label><br><input name="time" type="text" class="form-control" id="log-time" data-ng-model="form.logTime" data-ng-pattern="/\d{2}:\d{2}/" placeholder="hh:mm">
                    </div>

                    <div class="form-group inline" data-ng-class="{'has-error': add_form.callsign.$invalid && ladd_form.callsign.$viewValue.length > 0 }">

                        <label>Callsign*</label><br><input name="callsign" type="text" class="form-control" id="log-callsign" data-ng-model="form.logCallsign" data-ng-pattern="/[\w\/\-]+/" required>
                    </div>

                    <div class="form-group inline" data-ng-class="{'has-error': add_form.summit.$invalid && add_form.summit.$viewValue.length > 0 }">

                        <label>Summit*</label><br><input name="summit" type="text" class="form-control" id="log-summit" data-ng-model="form.logSummit" data-ng-pattern="/[\w\/\-\?]+/" required>
                    </div>

                    <div class="form-group inline" data-ng-class="{'has-error': add_form.band.$invalid && add_form.band.$viewValue.length > 0 }">

                        <label>Band*</label><br><input name="band" type="text" class="form-control" id="log-band" data-ng-model="form.logBand" data-ng-pattern="/[\d\.]+/" required>
                    </div>

                    <div class="form-group inline" data-ng-class="{'has-error': add_form.mode.$invalid && add_form.mode.$viewValue.length > 0 }">

                        <label>Mode*</label><br><input name="mode" type="text" class="form-control" id="log-mode" data-ng-model="form.logMode" data-ng-pattern="/\w+/" required>
                    </div>

                    <button class="btn btn-primary" type="submit" data-ng-disabled="add_form.$invalid"><span data-ng-show="!form.logEditMode">Add</span><span data-ng-show="form.logEditMode">Edit</span></button>
                    <br><small class="red">* = required</small>
            </form>

            <p data-ng-show="log.loglist.length == 0">You have not logged anything yet</p>

            <table class="table" data-ng-show="log.loglist.length > 0">

                <tbody>

                    <tr data-ng-repeat="logEntry in log.loglist">

                        <td class="cel date">{{ logEntry.date }}</td>
                        <td class="cel time">{{ logEntry.time }}</td>
                        <td class="cel callsign">{{ logEntry.callsign }} on {{ logEntry.summit }}</td>
                        <td class="cel band">{{ logEntry.band }}</td>
                        <td class="cel mode">{{ logEntry.mode }}</td>
                        <td class="cel icon" 
                            data-ng-click="form.logDate = logEntry.date; form.logTime = logEntry.time; form.logCallsign = logEntry.callsign; form.logSummit = logEntry.summit; form.logBand = logEntry.band; form.logMode = logEntry.mode; form.logEditMode = true; log.remove(logEntry.callsign, logEntry.summit, logEntry.band, logEntry.mode); "
                            ><span class="glyphicon glyphicon-pencil"></span></td>
                        <td class="cel icon" data-ng-click="log.remove(logEntry.callsign, logEntry.summit, logEntry.band, logEntry.mode)"><span class="glyphicon glyphicon-remove red"></span></td>

                    </tr>

                </tbody>

            </table>
            <br><br>
            <button data-ng-show="log.loglist.length > 0" class="btn btn-primary" data-ng-click="log.export()">Download log as SOTAwatchfilter-log-{{Date.now() | date:'yyyyMMdd' : 'UTC'}}-{{Date.now() | date:'HHmm':'UTC'}}.csv</button>

            <button data-ng-show="log.loglist.length > 0" class="btn btn-primary" data-ng-click="log.clear()">Clear log</button>

        </div>

    </div>

</div>